// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.img-card {
  object-fit: contain;
  margin: auto;
  max-height: $imgSize;
  max-width: $imgSize;
}

abbr[title='required'] {
  color: red;
  text-decoration: none !important;
}

.form-inputs {

  & .error {
    margin-left: $mediumMargin;
    padding-top: $mediumMargin;
  }

  & input {
    padding: $mediumMargin;
    width: 100%;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
    border-radius: $mediumMargin;
  }
}

.form-actions input[type='submit'] {
  margin: $largeMargin 0;
  background-color: rgba(0,0,0,.2);
  transition: background-color 200ms;

  &:hover {
    background-color: $hoverGrey;
  }
}

#image_view {
  height: $imgSize;
  width: $imgSize;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  max-width: $imgSize;
  margin: $mediumMargin;
}

.card-body {
  display: flex;
  justify-content: center;
  padding: $mediumMargin !important;
}

.image-tag {
  cursor: pointer;
}